@page
@model Rr.Web.Pages.HttpMonitors.IndexModel
@{
    ViewData["Title"] = "Http monitors";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Url</th>
    </thead>
    <tbody>
        @foreach (var monitor in Model.HttpMonitors)
        {
            <tr>
                <td>@monitor.Id</td>
                <td>@monitor.Name</td>
                <td>@monitor.Url</td>
            </tr>
        }
    </tbody>
</table>
